<!-- sign css -->
<link rel="stylesheet" href="/css/sign.css"> 

<!-- Forget password page -->
<div class="form-container">
    <h1 class="heading">Welcome</h1>
    <quotes>Small process makes a person big</quotes>
    <div class="fromClass">
        <form action="/users/forgetPasswordPage" method="POST">
            <input type="email" name="email" placeholder="Enter email" required><br>
                <input type="password" name="password" placeholder="Enter new password" required><br>
                <input type="password" name="confirmPassword" placeholder="Confirm new password" required><br>
            <button type="submit" style="margin-left: 3rem;">Change Password</button>
        </form>
    </div>
</div>